<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/teachmex.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>TeachMeX application</ion-card-subtitle>
        <ion-card-title>Welcome to our app</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This an app to query movie data and find some interesting info.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
